$background-color-gray: #efefef;
$background-color-white: #fbfbfb;
$background-color-blue: #3369f3;
$background-color-dark: #1e1e1e;
$text-color-blue: $background-color-blue;
$text-color-dark: $background-color-dark;
$text-color-danger: #f00;
$text-color-red: #ff2f2f;
$text-color-gray: #999;
$text-color-white: #fff;
$border-color: #eaeaea;
$border-color-blue: $background-color-blue;
