.register-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.register-form__action-button {
  color: #fff;
  background-color: #3369F3;
  padding: 12px 70px;
  border:none;
  border-radius: 8px
}

.register-form__action-link {
  display: block;
  margin-top: 14px;
  color: #3369F3;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
}

.register-form__label {
  display: block;
  color: #999999;
  font-size: 13px;
  line-height: 13px;
}

.register-form__label {
  &.username-label, 
  &.name-label, 
  &.second-name-label, 
  &.phone-label, 
  &.password-label, 
  &.password-confirm-label {
    margin-top: 16px;
  } 
}

.register-form__input {
  min-width: 280px;
  border: none;
  border-bottom: 1px solid #3369F3;;
}

.register-form__input:focus {
  outline: none;
}