.input {

  &__wrapper {
    margin-top: 16px
  }

  &__label {
    display: block;
    color: #999999;
    font-size: 13px;
    line-height: 13px;
  }

  &__input {
    min-width: 280px;
    border: none;
    border-bottom: 1px solid #3369F3;

    &:focus {
      outline: none;
    }
  }
  &__error {
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #ff2f2f;
    margin-top: 7px;
  }
}