@use '../../sass/style';

.chat-container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.aside {
  &__chat {
    min-width: 310px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid style.$border-color;
  }

  &__header {
    text-align: right;
    padding-top: 21px;
    padding-bottom: 23px;
    color: style.$text-color-gray;
  }

  &__header-link {
    text-decoration: none;
    margin-left: 8px;
    cursor: pointer;
  }

  &__chat-filter {
    width: 100%;
    margin-bottom: 14px;

    &__input {
      width: 100%;
      min-height: 32px;
      border-radius: 5px;
      border: none;
      background-color: style.$background-color-gray;
      color: style.$text-color-gray;
      padding: 10px;
    }
  }
}

.chat__messages-list {
  flex-grow: 1;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;

  &__empty {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: style.$text-color-gray;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
  }

  &__header {
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    .user-info {
      display: flex;
      align-items: center;
    }

    .user-avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: style.$background-color-gray;
    }

    .header__user-info__title {
      margin-left: 10px;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
    }
  }

  &__content {
    flex-grow: 1;
    border-top: 1px solid style.$border-color;
    border-bottom: 1px solid style.$border-color;
  }

  &__footer {
    min-height: 54px;

    .file-icon,
    .input_message,
    .send-message__button {
      display: flex;
    }

    .file-icon {
      min-width: 42px;
      color: style.$text-color-gray;
      font-size: 24px;
      cursor: pointer;
    }

    .input_message {
      flex-grow: 1;
      height: 32px;
      padding: 10px 20px;
      background-color: style.$background-color-gray;
      border-radius: 30px;
      color: style.$text-color-gray;
      border: none;
    }

    .send-message__button {
      min-width: 28px;
      min-height: 28px;
      margin-left: 10px;
      border-radius: 50%;
      background-color: style.$background-color-blue;
      border: none;
      align-items: center;
      justify-content: center;
      color: style.$text-color-white;
      cursor: pointer;
    }

    .message-form-footer {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.aside__chat-filter__input::-webkit-input-placeholder {
  text-align: center;
}

.add_chat_form {
  &__wrapper {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
  }
}

.chat-participants {
  &__actions {
    position: absolute;
    right: 20px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
  }
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}
