.chat-container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.aside {
  &__chat {
    min-width: 310px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #eaeaea;
  }

  &__header {
    text-align: right;
    padding-top: 21px;
    padding-bottom: 23px;
    color: #999999;
  }

  &__header-link {
    text-decoration: none;
    margin-left: 8px;
    cursor: pointer;
  }

  &__chat-filter {
    width: 100%;
    margin-bottom: 14px;

    &__input {
      width: 100%;
      min-height: 32px;
      border-radius: 5px;
      border: none;
      background-color: #efefef;
      color: #999999;
      padding: 10px;
    }
  }

  &__chat-list {
    list-style-type: none;

    &__item {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eaeaea;
      padding-top: 12px;
      padding-bottom: 12px;
      cursor: pointer;

      .user-info {
        display: flex;
      }

      .user-avatar {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: #efefef;
      }

      .info {
        padding-left: 10px;

        .title {
          font-size: 13px;
          line-height: 13px;
          margin-bottom: 4px;
          font-weight: 600;
        }

        .subtitle {
          color: #999999;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}

.last-message__time {
  color: #999999;
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
  margin-bottom: 14px;
}

.last-message__unread {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #3369f3;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}

.chat__messages-list {
  flex-grow: 1;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;

  &__header {
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    .user-info {
      display: flex;
      align-items: center;
    }

    .user-avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #efefef;
    }

    .header__user-info__title {
      margin-left: 10px;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
    }

    &-menu {
      display: flex;
      padding-left: 10px;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      .header-menu__dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #1e1e1e;
        margin-bottom: 3px;
      }
    }
  }

  &__content {
    color: green;
    flex-grow: 1;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }

  &__footer {
    color: blue;
    min-height: 54px;

    .file-icon,
    .input_message,
    .send-message__button {
      display: flex;
    }

    .file-icon {
      min-width: 42px;
      color: #999999;
      font-size: 24px;
      cursor: pointer;
    }

    .input_message {
      flex-grow: 1;
      height: 32px;
      background-color: #efefef;
      border-radius: 30px;
      color: #999999;
      border: none;
    }

    .send-message__button {
      min-width: 28px;
      min-height: 28px;
      margin-left: 10px;
      border-radius: 50%;
      background-color: #3369f3;
      border: none;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      cursor: pointer;
    }

    .message-form {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.aside__chat-filter__input::-webkit-input-placeholder {
  text-align: center;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input_message {
  padding: 10px 20px;
}
