<div class="chat-container">
  <aside class="aside__chat">
    <header class="aside__header">Профиль<a class="aside__header-link">&#62;</a></header>
    <div class="aside__chat-filter">
      <input class="aside__chat-filter__input" type="text" placeholder="&#128269 Поиск">
    </div>
    <ul class="aside__chat-list">
      <li class="aside__chat-list__item">
        <div class="user-info">
          <div class="user-avatar"></div>
          <div class="info">
            <div class="title">Андрей</div>
            <div class="subtitle">Изображение</div>
          </div>
        </div>
        <div class="chat-message__data">
          <div class="last-message__time">10:49</div>
          <div class="last-message__unread">2</div>
        </div>
      </li>
    </ul>
  </aside>
  <main class="chat__messages-list">
    <header class="chat__messages-list__header">
      <div class="user-info">
        <div class="user-avatar"></div>
        <div class="header__user-info__title">Вадим</div> 
      </div>
      <div class="chat__messages-list__header-menu">
        <div class="header-menu__dot"></div>
        <div class="header-menu__dot"></div>
        <div class="header-menu__dot"></div>
      </div>
    </header>
    <div class="chat__messages-list__content"></div>
    <footer class="chat__messages-list__footer">
      <form class="message-form">
        <i class="fa fa-paperclip"></i>
        <input type="text" placeholder="Сообщение">
        <button type="submit" class="send-message__button"></button>
      </form>
    </footer>
  </main>
</div>