@use '../../sass/style';

.button {
  color: style.$text-color-white;
  background-color: style.$background-color-blue;
  border: none;
  border-radius: 8px;

  &.large {
    padding: 12px 107px;
  }

  &.medium {
    padding: 12px 70px;
  }

  &:hover {
    cursor: pointer;
  }
}
