.button {
  color: #fff;
  background-color: #3369F3;
  border:none;
  border-radius: 8px;

  &.large {
    padding: 12px 107px;
  }

  &.medium {
    padding: 12px 70px;
  }

  &:hover {
    cursor: pointer;
  }
}