@use '../../sass/style';

.link {
  display: block;
  margin-top: 14px;
  color: style.$text-color-blue;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;

  &.action {
    margin-top: 0;
    font-size: 13px;
    line-height: 13px;

    &.exit {
      color: style.$text-color-danger;
    }
  }
}
