<div class="container">
  <h1 class="not-found heading">{{ heading }}</h1>
  <h2 class="not-found subtitle">{{ subtitle }}</h2>
  <div class="action">
    <a href="/" class="action back">Назад к чатам</a>
  </div>
</div>